
body 
{
  font-display: Caveat;
  background-image: url('../bilder/bild.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  }


.titel  
{
    display: flex;
    justify-content: center;
    color: white;
}

.rules 
{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    color: white;
}

.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  
}

.li {
  float: left;
}

.li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.li a:hover {
  background-color: #111;
}
  .textrules 
  {
    display: flex;
   
    justify-content: center;
   margin: 0 auto;
   margin-top: 60px;
   width: 30%;
    background-color: lightgray;
  }
